.btn {
  width: 900px;
  margin: 0 auto;
  color: white;
  text-align: center;
  font-weight: bold;
}
.btn-valider {
  text-align: center;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 5px;
  margin-right: 20px;
  background-color: #01b114;
  cursor: pointer;
}
.btn-invalider {
  text-align: center;
  display: inline-block;
  background-color: #e35858;
  padding: 10px 20px;
  border-radius: 5px;
  margin-right: 20px;
  opacity: 0.5;
  cursor: pointer;
}
.btn-valider:hover {
  background-color: #057411;
}
.btn-invalider:hover {
  opacity: 1;
}
