.categories {
  max-width: 800px;
  margin: 30px auto 100px auto;
  font-size: 14px;
}
.categories td {
  padding-top: 7px;
  padding-bottom: 13px;
}
.categories td:nth-child(1) {
  padding-right: 4px;
}
.categories td:nth-child(4) {
  padding-left: 4px;
}
.categories td:nth-child(3) {
  padding-left: 25px;
}

.showcat {
  cursor: pointer;
  color: blue;
}
.examples-cat {
  margin-bottom: 30px;
  margin-top: 15px;
  line-height: 20px;
}
