.chaines {
  width: 650px;
  margin: 0 auto 35px auto;
}
.chaine {
  text-align: center;
  margin-top: 30px;
}
.chaine img {
  border-radius: 100%;
  text-align: center;
  width: 80px;
}

// .info-chaine {}
