.videos {
  width: 900px;
  margin: 0 auto;
}
.video {
  width: 200px;
  display: inline-block;
  font-weight: bold;
  margin-left: 5px;
  margin-bottom: 16px;
  cursor: pointer;
}
.video img {
  width: 200px;
  margin-bottom: 4px;
}
.info-video {
  font-size: 13px;
  color: grey;
  font-weight: 400;
  margin-top: 4px;
}
