html,
body {
  margin: 0;
  color: #3e3e3e;
}

h2 {
  font-size: 18px;
}
h1 {
  font-size: 18px;
  text-decoration: none;
}
h1 a {
  text-decoration: none;
  color: #2b2b2b;
}

%message {
  margin: 10px auto;
  display: block;
  width: 400px;
  height: 20px;
  color: black;
  border: 1px solid black;
  border-radius: 3px;
  text-align: center;
  // background-color: #ff2e23;
}

.error {
  @extend %message;
  background-color: #ff2e23;
}

.info {
  @extend %message;
  background-color: #2575a3;
  color: white;
}
