.valide {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  border-collapse: unset;
  border-spacing: 0;
  border-radius: 20px;
}
.valide td {
  vertical-align: top;
  line-height: 22px;
  font-size: 14px;
  width: 50%;
  padding: 10px 20px;
}

.valide td:first-child {
  background: #ffd2d2;
  color: #aa0f0f;
}
.valide td:last-child {
  background: #bfe3bf;
  color: #195819;
}
